@use "../../styles/index.scss" as *;

aside {
  @include flex-column;
  align-items: center;
  
  background-color: $border-color;
  // height: 100%;
  width: 8%;
  padding-bottom:$s-35;

  div{
    @include flex-column;
    flex-grow: 1;
    justify-content: center;
    img{
      padding: $s-20;
    }
    
    }

  .copyright{
    color: $white-color;
    writing-mode: tb;
    transform: rotate(180deg);

    
  }
}