@use "../../styles/index.scss" as *;

.charts{
  width: 72%;
  @include flex-column;
  row-gap: $s-25;
}
.mini-charts{
  @include flex-row;
  align-items: center;
  justify-content: space-between;
  border-radius: $round-border-chart;
}