@use "../../styles" as *;
//////For error message
.error-content {
  @include flex-column;
  @include center-children;
  flex-grow: 1;

  .error-status {
    margin: 0;
    font-size: $error;
    color: $primary-color;
  }
  .error-message {
    font-size: $error-text;
  }
}