//fonts 
$font-stack: 'Roboto', sans-serif;

//colors
$primary-color:#FF0101;
$secondary-color : #282D30;
$bg-color: #FBFBFB;
$border-color : #020203;
$text-color: #74798C;
$black-color: black;
$white-color: white;
$red-bar: #E60000;
$black-bar: #282D30;
$red: #FF0000;
$label-color: #20253A;


//font-weight
$light-text: 300;
$medium-text: 500;
$bold-text: 700;

//font-size
$h1: 48px;
$h2: 18px;
$h3: 15px;
$tooltip-text: 7px;
$menu-text: 24px;
$label-chart: 15px;
$md-text-chart: 14px;
$sm-text-chart: 12px;
$value-per-unit: 20px;
$value-type: 14px;


//space
$s-5: 5px;
$s-10: 10px;
$s-15: 15px;
$s-20: 20px;
$s-25: 25px;

$s-35: 35px;
$s-45: 45px;
$s-50: 50px;


//radius: 
$round-border-chart: 1px;
$round-border-icon: 6px;
