@use "../../../styles/index.scss" as *;
.dashboard {
  @include flex-row;
  
  .container{
    @include flex-column;
    width: 100%;
    
    header{
      .user-name {
      color: $red;
      }
    }
    .charts{
      width: 80%;
    }

    .main-content{
      @include flex-row;
      // background-color: $bg-color;
      
      .value-consumption{
        background-color: $bg-color;

        .value{
          @include flex-row;
        }
      }
    
  }
  }
  
  
}