@use "../../../styles/index.scss" as *;

.dashboard-container {
  @include flex-column;
  row-gap: $s-50;
  padding-bottom: $s-25;
  padding-right: $s-25;
  

  .dashboard-header {
    h1 {
      font-size: $h1;
      .user-name {
        color: $red;
      }
    }
    p {
      font-size: $h2;
    }
  }

  .dashboard-content {
    @include flex-row;
    width: 100%;
    height: 100%;
    justify-content: space-between;

    .values-consumption {
      @include flex-column;
      justify-content: space-between;
      align-content: space-between;
      row-gap: $s-25;
    }
  }
}

.error {
  @include flex-column;
  @include center-children;

  .error-status {
    font-size: 100px;
    color: $primary-color;
  }
  .error-message {
    font-size: 38px;
  }
}
