@use "../../../styles/index.scss" as *;

.recharts-wrapper.score-chart {
  background-color: $bg-color;
  border-radius: $round-border-chart;
  padding: $s-15;
}

.label-wrapper {
  .score-label {
    @include flex-column;
    justify-content: center;
    align-items: center;

    .score-value {
      color: $secondary-color;
      font-weight: $bold-text;
      font-size: $label-score-chart;
    }
    .score-text {
      text-align: center;
      font-weight: $bold-text;
      color: $text-color;
    }
  }
}
.score-chart-title{
  .title {
    font-size: $label-chart;
    color: $label-color;
    font-weight: $bold-text;
  }
}

.cell-empty{
  fill: $bg-color;
  
}
.cell-filled {
  fill : $primary-color;
  

}
.inner-circle{
  fill: $white-color;
}
