@use "../../../styles/index.scss" as *;
.recharts-wrapper.average-chart {
  border-radius: $round-border-chart;
  padding: $s-15;
}

.label-wrapper {
  .average-chart-label {
    font-size: $label-chart ;
    color: $white-color;
  }
}

.tooltip-content{
    color: $black-color;
    padding: $s-20 $s-10;
    font-weight: $bold-text;
    background-color: $white-color;
  }

