@use "../../../styles/index.scss" as *;

.recharts-wrapper.performance-chart {
  background-color: $secondary-color;
  border-radius: $round-border-chart;
}
.performance-label{
  fill: $white-color;
  font-size: 12px;
}