@use "../../../styles/index.scss" as *;

.recharts-responsive-container.activities-chart-container {
  position: relative;
  background-color: $bg-color;
  border-radius: $round-border-chart;
  padding-bottom: 25px;
  

  .activities-chart-label {
    font-size: $label-chart;
    font-weight: $medium-text;
    color: $label-color;
    position: absolute;
    top: 32px;
    padding-left: 10px
  }

  .activities-barchart{
    padding-left: $s-10;
  }

  .custom-tooltip {
    @include flex-column;
    align-items: center;
    background-color: $red-bar;
    color: $white-color;
    padding: $s-10;
    font-size: $tooltip-text;
  }
}

.legend-text {
  font-size: $label-chart;
  color: $text-color;
}
